.gridLayout:nth-child(){
    margin: 10 px;
    border: solid black 2px;
    padding: 5px;
    width: 25px;
}

.row {
    border: solid black 2px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.cityRow {
    align-items: center;
    border: solid black 2px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    width: 250px;
    margin: 10%;
}

.weathercard {
    background-color: darkcyan;
    text-align: left;
    border: solid black 2px;
    color: white;
} 